#!/bin/bash

set -eufo pipefail

# Run common scripts
{{ template "common/run_onchange_after_install-core-tools.sh.tmpl" . }}
{{ template "common/run_onchange_after_install-go-tools.sh.tmpl" . }}
{{ template "common/run_onchange_after_install-java-tools.sh.tmpl" . }}

log() {
  printf "[CHEZMOI] %s\n" "$@"
}

# Darwin-specific post-installation

# Install Oh My Zsh if not present
if [ ! -d "$HOME/.oh-my-zsh" ] && command -v zsh &> /dev/null; then
  log "Installing Oh My Zsh..."
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended || true
fi

log "Darwin tools installation completed!"