color: true
encryption: age
format: yaml
verbose: true
age:
  identity: ~/.age/key.txt
  recipient: age17879nz82z45mnlllumj687dc06duah989hjkrklvef8tmakmlymqmxv6w2
git:
  autoAdd: true
  autoCommit: false
  autoPush: false

# The following variables are only available within this YAML template file


# Here we "export" the variables, so we can access them outside this file
data:
  email: "Per.Pettersson@gmail.com"
  name:  "Per Pettersson"
